<a href="https://colab.research.google.com/github/P-Ragul/Sales_Prediction/blob/main/Sales_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from os.path import exists
import pandas as pd

df_path = "train.csv.zip" if exists("train.csv.zip") else "https://github.com/upgini/upgini/raw/main/notebooks/train.csv.zip"
df = pd.read_csv(df_path)
df = df.sample(n=19_000, random_state=0)
df["store"] = df["store"].astype(str)
df["item"] = df["item"].astype(str)
df["date"] = pd.to_datetime(df["date"])
df.sort_values("date", inplace = True)
df.reset_index(inplace=True,drop = True)
df.head()

        date store item  sales
0 2013-01-01     7    5      5
1 2013-01-01     4    9     19
2 2013-01-01     1   33     37
3 2013-01-01     3   41     14
4 2013-01-01     5   24     26

In [ ]:
train = df[df["date"] < "2017-01-01"]
test = df[df["date"] >= "2017-01-01"]

In [ ]:
train_features = train.drop(columns=["sales"])
train_target = train["sales"]
test_features = test.drop(columns=["sales"])
test_target = test["sales"]

Enrich Features

In [ ]:
pip install upgini

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting upgini
  Downloading upgini-1.1.39-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 3.2 MB/s
Requirement already satisfied: pydantic>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from upgini) (1.10.2)
Collecting fastparquet>=0.7.1
  Downloading fastparquet-0.8.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 30.9 MB/s
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from upgini) (1.3.5)
Requirement already satisfied: requests>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from upgini) (2.23.0)
Collecting python-json-logger>=2.0.2
  Downloading python_json_logger-2.0.4-py3-none-any.whl (7.8 kB)
Collecting catboost>=1.0.3
  Downloading catboost-1.1.1-cp37-none-manylinux1_x86_64.whl (76.6 MB)
     |████████████████████████████████| 76.6 MB 102 kB/s
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.7/dist-packages (from upgini) (1.21.6)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from upgini) (2.8.2)
Requirement already satisfied: scikit-learn>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from upgini) (1.0.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost>=1.0.3->upgini) (5.5.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost>=1.0.3->upgini) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost>=1.0.3->upgini) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost>=1.0.3->upgini) (1.7.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost>=1.0.3->upgini) (0.10.1)
Requirement already satisfied: fsspec in /usr/local/lib/python3.7/dist-packages (from fastparquet>=0.7.1->upgini) (2022.10.0)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.6.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 35.4 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->upgini) (2022.5)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from pydantic>=1.8.2->upgini) (4.1.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.8.0->upgini) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.8.0->upgini) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.8.0->upgini) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.8.0->upgini) (2022.9.24)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.1->upgini) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.1->upgini) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost>=1.0.3->upgini) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost>=1.0.3->upgini) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost>=1.0.3->upgini) (0.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost>=1.0.3->upgini) (8.1.0)
Installing collected packages: cramjam, python-json-logger, fastparquet, catboost, upgini
Successfully installed catboost-1.1.1 cramjam-2.6.1 fastparquet-0.8.1 python-json-logger-2.0.4 upgini-1.1.39

In [ ]:
from upgini import FeaturesEnricher, SearchKey
from upgini.metadata import CVType

enricher = FeaturesEnricher(
    search_keys = {
        "date": SearchKey.DATE,
    },
    cv =CVType.time_series
)
enricher.fit(train_features,
             train_target,
             eval_set=[(test_features,test_target)])

WARNING: You have started the search with the DATE key only. Try to add the COUNTRY and/or POSTAL_CODE keys to your dataset so that the search engine gets access to the additional data sources. Get details on https://github.com/upgini/upgini#readme
Detected task type: ModelTaskType.REGRESSION

Running search request with search_id=99cd22c0-220a-4508-ad12-0d3fa42112ac
We'll send email notification once it's completed, just use your personal api_key from profile.upgini.com
Done


28 relevant feature(s) found with the search keys: ['date'].

,feature_name,shap_value,coverage %,type
0,item,0.487726,100.0,CHARACTER
1,store,0.172106,100.0,CHARACTER
2,f_weather_date_weather_pca_0_d7e0a1fc,0.056047,100.0,NUMERIC
3,f_events_date_week_sin1_847b5db1,0.044632,100.0,NUMERIC
4,f_events_date_week_cos1_f6a8c1fc,0.029552,100.0,NUMERIC
5,f_weather_date_weather_umap_48_b39cd0c4,0.025132,100.0,NUMERIC
6,f_weather_date_weather_umap_24_2e14c9a6,0.019315,100.0,NUMERIC
7,f_weather_date_weather_umap_33_89bb7578,0.014638,100.0,NUMERIC
8,f_events_date_year_cos1_9014a856,0.012112,100.0,NUMERIC
9,f_financial_date_dow_jones_fe02128f,0.007461,100.0,NUMERIC
10,f_weather_date_weather_umap_31_fa6d9a99,0.004600,100.0,NUMERIC
11,f_financial_date_silver_14e835ea,0.004597,100.0,NUMERIC
12,f_weather_date_weather_umap_43_36116dd1,0.004291,100.0,NUMERIC
13,f_weather_date_weather_umap_35_5ddaa0ba,0.004104,100.0,NUMERIC
14,f_financial_date_finance_umap_3_516aa6cd,0.003752,100.0,NUMERIC
15,f_financial_date_snp500_3e044492,0.003303,100.0,NUMERIC
16,f_economic_date_cpi_pca_5_789d07f3,0.003016,100.0,NUMERIC
17,f_financial_date_dow_jones_7d_to_7d_1y_shift_6...,0.002820,100.0,NUMERIC
18,f_financial_date_stoxx_dd33e672,0.002752,100.0,NUMERIC
19,f_events_date_payment_fraud_score_133720fe,0.002202,100.0,NUMERIC
20,f_events_date_italy_game_cnt_99570b80,0.001993,100.0,NUMERIC
21,f_financial_date_nasdaq_c568533e,0.001855,100.0,NUMERIC
22,f_weather_date_weather_umap_34_c3ef5b4f,0.001782,100.0,NUMERIC
23,f_economic_date_cbpol_umap_1_7eb7a343,0.001578,100.0,NUMERIC
24,f_economic_date_cbpol_pca_3_27450634,0.001536,100.0,NUMERIC
25,f_financial_date_silver_7d_to_1y_b364a149,0.001454,100.0,NUMERIC
26,f_economic_date_cbpol_umap_6_aa0352de,0.001432,100.0,NUMERIC
27,f_events_date_mlending_approve_score_427a77b3,0.001374,100.0,NUMERIC
28,f_weather_date_weather_umap_45_d474bf8d,0.001316,100.0,NUMERIC
29,f_financial_date_silver_7d_to_7d_1y_shift_9cb6...,0.001241,100.0,NUMERIC

In [ ]:
from catboost.core import CatBoostRegressor
from catboost import CatBoostRegressor
from catboost.utils import eval_metric

model = CatBoostRegressor(verbose=False, allow_writing_files=False, random_state=0)
enricher.calculate_metrics(
    train_features, train_target,
    eval_set=[(test_features, test_target)],
    estimator = model,
    scoring = "mean_absolute_percentage_error"
)

Calculating metrics...
Done

,match_rate,baseline mean_absolute_percentage_error,enriched mean_absolute_percentage_error,uplift
,,,,
train,100.0,0.255464,0.172231,0.083233
eval 1,100.0,0.268370,0.187433,0.080937

In [ ]:
enriched_train_features = enricher.transform(train_features,keep_input = True)
enriched_test_features = enricher.transform(test_features,keep_input = True)
enriched_train_features.head()

WARNING: You have started the search with the DATE key only. Try to add the COUNTRY and/or POSTAL_CODE keys to your dataset so that the search engine gets access to the additional data sources. Get details on https://github.com/upgini/upgini#readme
90.39637% of the rows are fully duplicated

Running search request with search_id=b82e27eb-7d9a-48f4-98cb-45890b0db272
We'll send email notification once it's completed, just use your personal api_key from profile.upgini.com
Done

Collecting selected features...
Done
WARNING: You have started the search with the DATE key only. Try to add the COUNTRY and/or POSTAL_CODE keys to your dataset so that the search engine gets access to the additional data sources. Get details on https://github.com/upgini/upgini#readme
90.36176% of the rows are fully duplicated

Running search request with search_id=c4bee194-4015-42f2-ae2b-8ffdfa980599
We'll send email notification once it's completed, just use your personal api_key from profile.upgini.com
Done

Collecting selected features...
Done

,date,store,item,f_weather_date_weather_pca_0_d7e0a1fc,f_events_date_week_sin1_847b5db1,f_events_date_week_cos1_f6a8c1fc,f_weather_date_weather_umap_48_b39cd0c4,f_weather_date_weather_umap_24_2e14c9a6,f_weather_date_weather_umap_33_89bb7578,f_events_date_year_cos1_9014a856,...,f_events_date_italy_game_cnt_99570b80,f_financial_date_nasdaq_c568533e,f_weather_date_weather_umap_34_c3ef5b4f,f_economic_date_cbpol_umap_1_7eb7a343,f_economic_date_cbpol_pca_3_27450634,f_financial_date_silver_7d_to_1y_b364a149,f_economic_date_cbpol_umap_6_aa0352de,f_events_date_mlending_approve_score_427a77b3,f_weather_date_weather_umap_45_d474bf8d,f_financial_date_silver_7d_to_7d_1y_shift_9cb6bdfc
0,2013-01-01,7,5,29.676683,0.781831,0.62349,4.540985,5.828106,4.644803,0.98522,...,0,3019.51001,5.664261,4.815701,-0.323471,0.963323,1.367325,0.338412,4.923654,1.072025
1,2013-01-01,4,9,29.676683,0.781831,0.62349,4.540985,5.828106,4.644803,0.98522,...,0,3019.51001,5.664261,4.815701,-0.323471,0.963323,1.367325,0.338412,4.923654,1.072025
2,2013-01-01,1,33,29.676683,0.781831,0.62349,4.540985,5.828106,4.644803,0.98522,...,0,3019.51001,5.664261,4.815701,-0.323471,0.963323,1.367325,0.338412,4.923654,1.072025
3,2013-01-01,3,41,29.676683,0.781831,0.62349,4.540985,5.828106,4.644803,0.98522,...,0,3019.51001,5.664261,4.815701,-0.323471,0.963323,1.367325,0.338412,4.923654,1.072025
4,2013-01-01,5,24,29.676683,0.781831,0.62349,4.540985,5.828106,4.644803,0.98522,...,0,3019.51001,5.664261,4.815701,-0.323471,0.963323,1.367325,0.338412,4.923654,1.072025

In [ ]:
model.fit(train_features,train_target)
preds = model.predict(test_features)
eval_metric(test_target.values, preds, "SMAPE" )

[37.65141857448004]

In [ ]:
model.fit(enriched_train_features,train_target)
enriched_preds = model.predict(enriched_test_features)
eval_metric(test_target.values, enriched_preds, "SMAPE" )

[14.50094486771499]